.git-submodule-status
.sdk
.stgit-*
*.ast_raw
*.depend_raw
*.log
*.patch
*.pyc
*.rar
*.swp
*.txt
*~
/build/
/dist
/GNUmakefile
build.log
config-temp/
cscope.*
GPATH
GRTAGS
GTAGS
original/
settings.json
tags
TAGS
